@charset "utf-8";
html {
	overflow-x: hidden;
	font-size: 16px;
}

body {
	margin: auto;
	padding: 0;
	color: #91919A;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.4;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

b,
strong {
	font-weight: 700;
}

a,
a:hover,
em {
	font-style: normal;
	text-decoration: none;
}

p {
	margin: 0;
}

a,
.btn {
	color: #000;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 700;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
}





.sec4 {background: url(../images/Group-42.jpg) 50% 0 no-repeat;}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
	.sec4 {background: url(../images/Group-42@2x.jpg) 50% 0 no-repeat;}
}
